<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdl.wps.dao.WpsMainDao">
    <resultMap id="WpsMainResultMap" type="com.jdl.wps.domain.entity.WpsMain">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="progress_status" property="progressStatus" jdbcType="INTEGER"/>
        <result column="plan_start_time" property="planStartTime" jdbcType="TIMESTAMP"/>
        <result column="plan_end_time" property="planEndTime" jdbcType="TIMESTAMP"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="prd" property="prd" jdbcType="VARCHAR"/>
        <result column="product_manager" property="productManager" jdbcType="VARCHAR"/>
        <result column="dev_branch_name" property="devBranchName" jdbcType="VARCHAR"/>
        <result column="app_version" property="appVersion" jdbcType="VARCHAR"/>
        <result column="card" property="card" jdbcType="VARCHAR"/>
        <result column="dev_info" property="devInfo" jdbcType="VARCHAR"/>
        <result column="forced_dependency" property="forcedDependency" jdbcType="TINYINT"/>
        <result column="deleted" property="deleted" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="all_columns">
        id,
        progress_status,
        plan_start_time,
        plan_end_time,
        project_name,
        prd,
        product_manager,
        dev_branch_name,
        app_version,
        card,
        dev_info,
        forced_dependency,
        deleted,
        create_time,
        update_time,
        user_code
    </sql>
    <select id="queryAll" resultMap="WpsMainResultMap" parameterType="com.jdl.wps.domain.vo.WpsVo">
        select <include refid="all_columns"></include>
        from jdl_wps.wps_m
        where
            <if test="userCode!=null and userCode!=''">
                user_code=#{userCode} and
            </if>
            <if test="projectName!=null and projectName!=''">
                project_name like concat('%',#{projectName},'%') and
            </if>
            <if test="devBranchName!=null and devBranchName!=''">
                dev_branch_name = #{devBranchName} and
            </if>
            <if test="appVersion!=null and appVersion!=''">
                app_version = #{appVersion} and
            </if>
            <if test="progressStatus!=null">
                progress_status = #{progressStatus} and
            </if>
            deleted=0
        order by progress_status asc,id desc
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="queryRows" resultType="long" parameterType="com.jdl.wps.domain.vo.WpsVo">
        select count(*)
        from jdl_wps.wps_m
        where
            <if test="userCode!=null and userCode!=''">
                user_code=#{userCode} and
            </if>
            <if test="projectName!=null and projectName!=''">
                project_name like concat('%',#{projectName},'%') and
            </if>
            <if test="devBranchName!=null and devBranchName!=''">
                dev_branch_name = #{devBranchName} and
            </if>
            <if test="appVersion!=null and appVersion!=''">
                app_version = #{appVersion} and
            </if>
            <if test="progressStatus!=null">
                progress_status = #{progressStatus} and
            </if>
            deleted=0

    </select>

    <insert id="insert" parameterType="com.jdl.wps.domain.entity.WpsMain">
        INSERT INTO wps_m (progress_status, plan_start_time, plan_end_time, project_name, prd, product_manager,
                           dev_branch_name, app_version, card, dev_info, deleted, create_time, user_code,forced_dependency)
        VALUES (#{progressStatus}, #{planStartTime}, #{planEndTime}, #{projectName}, #{prd}, #{productManager}, #{devBranchName},
                #{appVersion}, #{card}, #{devInfo}, 0, now(),  #{userCode},#{forcedDependency});

    </insert>

    <update id="update" parameterType="com.jdl.wps.domain.entity.WpsMain">
        update wps_m
        set
            project_name = #{projectName,jdbcType=VARCHAR},
            <if test="planStartTime!=null">plan_start_time = #{planStartTime,jdbcType=TIMESTAMP},</if>
            <if test="planEndTime!=null">plan_end_time = #{planEndTime,jdbcType=TIMESTAMP},</if>
            <if test="prd!=null and prd!=''">prd = #{prd,jdbcType=VARCHAR},</if>
            <if test="productManager!=null and productManager!=''">product_manager = #{productManager,jdbcType=VARCHAR},</if>
            <if test="devBranchName!=null and devBranchName!=''">dev_branch_name = #{devBranchName,jdbcType=VARCHAR},</if>
            <if test="appVersion!=null and appVersion!=''">app_version = #{appVersion,jdbcType=VARCHAR},</if>
            <if test="card!=null and card!=''">card = #{card,jdbcType=VARCHAR},</if>
            <if test="devInfo!=null and devInfo!=''">dev_info = #{devInfo,jdbcType=LONGVARCHAR},</if>
            <if test="userCode!=null and userCode!=''">user_code = #{userCode,jdbcType=VARCHAR},</if>
            forced_dependency = #{forcedDependency,jdbcType=TINYINT},
            progress_status = #{progressStatus,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}

    </update>
    <delete id="deleteByPk" parameterType="java.lang.Long">
        update wps_m set deleted = 1
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <select id="byId" parameterType="java.lang.Long" resultMap="WpsMainResultMap">
        select <include refid="all_columns"></include>
        from jdl_wps.wps_m
        where  id = #{id,jdbcType=BIGINT} and deleted=0
    </select>
</mapper>
